/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

/*  --medium-blue: #00c9ff; */
:root {
  --light-blue: #d9f4ff;
  --light-blue-hover: #bbeffd;
  --medium-blue: #0069d9;
  --nav-blue: #2598c5;
  --nav-green: #16a085;
  --nav-cyan: #02bdde;
  --font-black: #282c34;
  --updated-purple: #e6deff;
  --updated-purple-hover: #d5d1ff;
  --light-yellow: #ffffcc;
  --light-grey-hover: #ced4da;
  --light-grey: #e9ecef;
  --light-red: #ffebeb;
  --light-red-hover: #ffcccb;
  --medium-red: #ff0500;
}


.App {
  text-align: center;
}

.App-testing-prod {
  /* background color for prod when testing */
  background-color: red;
  /* background-color: #ffcccb; light red */
}
.App-testing-dev {
  /* background color for not-prod when testing */
  background-color: #f7f6af;   /* light yellow */
  /* background-color: #fdf88d;  yellow */
  /* background: repeating-linear-gradient(-45deg, #fdf88d, #fdf88d 10px, #e9e485 10px, #e9e485 20px);  diagonal yellow dark warning */
}

.Alliance-logo {
  height: 50px;
  pointer-events: none;
}

.Navbar {
  background-color: var(--nav-blue);
  color: white;
}

.Navbar-stage {
  background-color: var(--nav-green);
  color: white;
}

.Navbar-dev {
  background-color: var(--nav-cyan);
  color: white;
}

.navbar_link {
  font-family: 'Roboto', sans-serif;
  color: white !important;
  margin-left: 20px;
}

.NotLoggedInAlert-everLogged {
  position: fixed !important;
  top: 3.5em !important;
  left: 0px;
  width: 100%;
  z-index: 9999;
}

.button-to-link {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #007bff;
  cursor: pointer;
}

.button-to-link:hover {
  color: #069;
  text-decoration: underline;
}

.affiliation {
  font-size: 14px;
  color: grey;
}

.row-even {
  padding-bottom: 1rem;
  margin-bottom: 0 !important;
  background-color: var(--light-yellow) !important;
}
.row-odd {
  padding-bottom: 1rem;
  margin-bottom: 0 !important;
  background-color: white !important;
}

.div-grey-border {
  border: 1px solid var(--light-grey-hover);
  border-radius: .25rem;
  min-height: 2.3rem;
  padding: .35rem;
}

.div-merge {
  border-radius: .25rem;
  overflow: hidden;
  padding: .35rem;
  margin: .35rem;
}

.div-merge-grey {
  border: 1px solid var(--light-grey-hover);
  background-color: var(--light-grey) !important;
}

/*
.div-merge-stripes {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    var(--light-grey) 10px,
    var(--light-grey) 20px
  );
}
*/

.div-merge-keep {
  border: 1px solid var(--light-blue-hover);
  background-color: var(--light-blue) !important;
}

.div-merge-obsolete {
  border: 1px solid var(--light-red-hover);
  background-color: var(--light-red) !important;
}

.span-merge-header-success {
  font-size: 1.2em;
  color: var(--medium-blue) !important;
}

.span-merge-header-failure {
  font-size: 1.2em;
  color: var(--medium-red) !important;
}

.span-merge-message-init {
  color: 'black';
}

.span-merge-message-success {
  color: var(--medium-blue) !important;
}

.span-merge-message-failure {
  color: var(--medium-red) !important;
}

.biblio-updating {
  text-align: center;
  background-color: var(--light-grey) !important;
}

.biblio-button:hover {
  background-color: var(--light-blue-hover) !important;
  filter: drop-shadow(2px 2px 1px #aaaaaa);
}
.biblio-button {
  text-align: center;
  background-color: var(--light-blue) !important;
  border-radius: 5px !important;
  filter: drop-shadow(3px 3px 1px #aaaaaa);
}
/*
  background-color: #ffffba !important;
  font-weight: 600 !important;
  font-weight: bold !important;
  border-color: white !important;
  box-shadow:
    0 0 0 3px white,
    0 0 0 8px #ffffba;
  border-color: #2598c5 !important;
  background-color: var(--light-grey) !important;
  display: block;
  width: 100%;
  padding-left: .75rem;
  padding-right: .75rem;
  color: #282c34;
  line-height: 1.5;
  border: 1px solid #2598c5;
  border-radius: .25rem;
  height: calc(1.5em + .75rem + 2px);
  padding-top: .375rem;
  padding-bottom: .375rem;
*/

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  padding-left: 40px;
}

/*  border-radius: 30px 0 0 30px; */

.task.reminder {
  border-left: 5px solid green;
}

.Col-display {
  background-color: var(--light-blue);
}

.Col-display-warn {
  background-color: var(--light-red);
}

.Col-display-grey {
  background-color: var(--light-grey);
}

.updated-biblio-button:hover {
  background-color: var(--updated-purple-hover) !important;
}
.updated-biblio-button {
  background-color: var(--updated-purple) !important;
}
.updated {
  background-color: var(--updated-purple) !important;
}

.underlined {
  border-bottom: 4px solid var(--light-blue-hover);
}

.radio-form {
  margin: 4px 4px 4px 4px;
  padding: 2px 2px 4px 2px;
}
.radio-span {
  display: inline-block;
  margin: 4px 4px 4px 4px;
  padding: 2px 0px 4px 2px;
}

.radio-span:hover {
  background-color: var(--light-blue);
  border-radius: 10px;
  opacity: 0.9;
}
/* opacity: 90%;  proper react build production does not like this
   https://stackoverflow.com/questions/58853844/the-opacity-value-was-changed-to-1-after-building-the-reacjs-project */

.Col-editor-disabled {
  background-color: #e9ecef;
}

.Col-checkbox {
  display: flex;
  align-items : center;
  padding: 0 !important;
}

.ColEditorCheckbox input {
  height: 20px;
  width: 20px;
}

.Col-editor-buttons {
  display: flex;
}

.Col-general {
  text-align: left;
  display: flex;
  align-items : center;
  color: var(--font-black);
  border: 2px solid white;
  padding: 5px 10px;
}
/*
  background-color: #f4f4f4;
  border: 1px solid #bbbbbb;
  border: 1px solid #61dafb;
*/
.Col-display-right {
  border-radius: 0 30px 30px 0;
}
.Col-display-left {
  border-radius: 30px 0 0 30px;
}
.Col-search {
  display: block;
}
.searchRow-title{
  font-size: 1.4em;
}
.searchRow-xref{
  padding-block: 10px;
}
.searchRow-other{
  line-height: 150%;
  padding-block: 2px;
}

.searchRow-other p{
  font-size: 0.8em;
}
.searchRow-xref ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.obsolete{
  color: red;
}

/* New CSS for better wrapping and responsiveness */
.facet-container {
  padding: 0;
}

.facet-container h5 {
  margin-bottom: 1em;
}

.facet-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.facet-item span {
  flex: 1;
  text-align: left;
}

.facet-item .badge {
  margin-left: 1em;
}

@media (max-width: 576px) {
  .facet-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .facet-item .badge {
    margin-left: 0;
    margin-top: 0.5em;
  }
}

/*
.Col-right-in {
  background-color: #bbeffd;
  text-align: left;
  color: #282c34;
  padding: 5px 10px;
}
.Col-left-in {
  background-color: #bbeffd;
  text-align: left;
  color: #282c34;
  padding: 5px 10px;
}
*/

.Row-general {
  color: var(--font-black);
}

em {
  background-color: yellow;
  font-style: normal;
}

.highlight-label{
  font-weight: 600;
  border-right: 1px;
  border-right-style: solid;
  padding-right: 0.5em;
  padding-top: 0.15em;
  font-size: 0.8em;
  text-transform: capitalize;
}

.highlight-value{
  padding-top:0.15em;
  padding-left:0.5em;
  font-size:0.8em;
}

.inputGroupRight{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.inputGroupCenter{
  border-radius:0 !important;
}

.inputGroupLeft{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
/*
  background-color: #bbeffd;
*/

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: -2px, 2px;
  border-width: 2px;
  border-radius: 2px;
  border-style: dashed;
  background-color: var(--light-blue);
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}

.sm-table{
  font-size: 0.75rem;
}

.no-pad{
  padding:0px;
  text-align: left;
}



/*
.App-header {
  background-color: var(--font-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  transition: visibility 0s, opacity 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.ateam-alert {
  margin : 5px;
}

.overlay-on {
  opacity: 1;
  visibility: visible;
}

.custom-filter > * {
  margin: 5px;
}

.custom-filter > div:first-child {
  font-weight: bold;
  text-align: center;
}

.custom-filter > div {
  text-align: left;
}

.custom-filter input {
  margin-right: 10px;
}

.custom-filter label {
  margin-bottom: 0px;
}

.file-download-button{
  position : absolute;
  top : 10px;
  right: 20px;
}

.redirect-TET-button{
  position : absolute;
  width: 65px;
  height: 62px;
  top : 10px;
  right: 20px;
  margin-right: 70px ;
}


#TET_icon_id {width: 100%; }
#TET_text_id{font-size: 10px;}

.wft-bold-header {
  font-weight: bold;
}
