.App {
  text-align: center;
}

.Alliance-logo {
  height: 50px;
  pointer-events: none;
}

.Navbar {
  background-color: #2598c5;
  color: white;
}

.nav-link{
  font-family: 'Roboto', sans-serif;
  color: white !important;
  margin-left: 20px;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  padding-left: 40px;
}

/*  border-radius: 30px 0 0 30px; */

.task.reminder {
  border-left: 5px solid green;
}

.Col-general {
  background-color: #bbeffd;
  text-align: left;
  display: flex;
  align-items : center;
  color: #282c34;
  border: 2px solid white;
  padding: 5px 10px;
}
/*
  background-color: #f4f4f4;
  border: 1px solid #bbbbbb;
  border: 1px solid #61dafb;
*/
.Col-right {
  border-radius: 0 30px 30px 0;
}
.Col-left {
  border-radius: 30px 0 0 30px;
}
/*
.Col-right-in {
  background-color: #bbeffd;
  text-align: left;
  color: #282c34;
  padding: 5px 10px;
}
.Col-left-in {
  background-color: #bbeffd;
  text-align: left;
  color: #282c34;
  padding: 5px 10px;
}
*/

.Row-general {
  background-color: white;
  color: #282c34;
}
/*
  background-color: #bbeffd;
*/


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
