.App {
  text-align: center;
}

.Alliance-logo {
  height: 50px;
  pointer-events: none;
}

.Navbar {
  background-color: #2598c5;
  color: white;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  color: white !important;
  margin-left: 20px;
}

.affiliation {
  font-size: 14px;
  color: grey;
}

.biblio-updating {
  text-align: center;
  background-color: #ced4da !important;
}

.biblio-button:hover {
  background-color: #b5eaff !important;
  filter: drop-shadow(2px 2px 1px #aaaaaa);
}
.biblio-button {
  text-align: center;
  background-color: #d9f4ff !important;
  border-radius: 5px !important;
  filter: drop-shadow(3px 3px 1px #aaaaaa);
}
/*
  background-color: #ffffba !important;
  font-weight: 600 !important;
  font-weight: bold !important;
  border-color: white !important;
  box-shadow:
    0 0 0 3px white,
    0 0 0 8px #ffffba;
  border-color: #2598c5 !important;
  background-color: #ced4da !important;
  display: block;
  width: 100%;
  padding-left: .75rem;
  padding-right: .75rem;
  color: #282c34;
  line-height: 1.5;
  border: 1px solid #2598c5;
  border-radius: .25rem;
  height: calc(1.5em + .75rem + 2px);
  padding-top: .375rem;
  padding-bottom: .375rem;
*/

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  padding-left: 40px;
}

/*  border-radius: 30px 0 0 30px; */

.task.reminder {
  border-left: 5px solid green;
}

.Col-display {
  background-color: #bbeffd;
}

.Col-editor-disabled {
  background-color: #e9ecef;
}

.Col-general {
  text-align: left;
  display: flex;
  align-items : center;
  color: #282c34;
  border: 2px solid white;
  padding: 5px 10px;
}
/*
  background-color: #f4f4f4;
  border: 1px solid #bbbbbb;
  border: 1px solid #61dafb;
*/
.Col-display-right {
  border-radius: 0 30px 30px 0;
}
.Col-display-left {
  border-radius: 30px 0 0 30px;
}
/*
.Col-right-in {
  background-color: #bbeffd;
  text-align: left;
  color: #282c34;
  padding: 5px 10px;
}
.Col-left-in {
  background-color: #bbeffd;
  text-align: left;
  color: #282c34;
  padding: 5px 10px;
}
*/

.Row-general {
  background-color: white;
  color: #282c34;
}
/*
  background-color: #bbeffd;
*/


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
